In [1]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
%matplotlib inline

In [2]:
train = pd.read_csv("train_CSRqzyo.csv")
test  = pd.read_csv("test_wYRkl1c.csv")

In [3]:
train.shape

(8523, 11)

In [4]:
test.shape

(5681, 10)

In [5]:
train.head()

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,ID
0,9.30,Low Fat,0.016047,Dairy,249.8092,1999,Medium,Tier 1,Supermarket Type1,3735.1380,FDA15OUT049
1,5.92,Regular,0.019278,Soft Drinks,48.2692,2009,Medium,Tier 3,Supermarket Type2,443.4228,DRC01OUT018
2,17.50,Low Fat,0.016760,Meat,141.6180,1999,Medium,Tier 1,Supermarket Type1,2097.2700,FDN15OUT049
3,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,1998,NaN,Tier 3,Grocery Store,732.3800,FDX07OUT010
4,8.93,Low Fat,0.000000,Household,53.8614,1987,High,Tier 3,Supermarket Type1,994.7052,NCD19OUT013

In [6]:
test.head()

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,ID
0,20.750,Low Fat,0.007565,Snack Foods,107.8622,1999,Medium,Tier 1,Supermarket Type1,FDW58OUT049
1,8.300,reg,0.038428,Dairy,87.3198,2007,NaN,Tier 2,Supermarket Type1,FDW14OUT017
2,14.600,Low Fat,0.099575,Others,241.7538,1998,NaN,Tier 3,Grocery Store,NCN55OUT010
3,7.315,Low Fat,0.015388,Snack Foods,155.0340,2007,NaN,Tier 2,Supermarket Type1,FDQ58OUT017
4,NaN,Regular,0.118599,Dairy,234.2300,1985,Medium,Tier 3,Supermarket Type3,FDY38OUT027

In [7]:
x_train = train.drop('Item_Outlet_Sales', axis=1)
x_train=pd.get_dummies(x_train)
x_train.fillna(0,inplace=True)

In [8]:
y_train=train['Item_Outlet_Sales']

In [9]:
x_test = test
x_test=pd.get_dummies(x_test)

In [10]:
lreg=LinearRegression()

In [11]:
lreg.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [13]:
x_test.fillna(0,inplace=True)
pred=lreg.predict(x_test)

ValueError: shapes (5681,5716) and (8558,) not aligned: 5716 (dim 1) != 8558 (dim 0)