In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
%matplotlib inline

In [2]:
train_data = pd.read_csv("train_CSRqzyo.csv")
test_data  = pd.read_csv("test_wYRkl1c.csv")

In [3]:
train_data = pd.get_dummies(train_data)

In [4]:
train_data.shape

(8523, 8559)

In [5]:
train_data.head()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales,Item_Fat_Content_LF,Item_Fat_Content_Low Fat,Item_Fat_Content_Regular,Item_Fat_Content_low fat,Item_Fat_Content_reg,...,ID_NCZ53OUT018,ID_NCZ53OUT027,ID_NCZ53OUT049,ID_NCZ54OUT010,ID_NCZ54OUT018,ID_NCZ54OUT019,ID_NCZ54OUT027,ID_NCZ54OUT045,ID_NCZ54OUT046,ID_NCZ54OUT049
0,9.30,0.016047,249.8092,1999,3735.1380,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,5.92,0.019278,48.2692,2009,443.4228,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,17.50,0.016760,141.6180,1999,2097.2700,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,19.20,0.000000,182.0950,1998,732.3800,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,8.93,0.000000,53.8614,1987,994.7052,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
test_data = pd.get_dummies(test_data)

In [7]:
test_data.shape

(5681, 8561)

In [8]:
test_data.head()

,Unnamed: 0,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Fat_Content_LF,Item_Fat_Content_Low Fat,Item_Fat_Content_Regular,Item_Fat_Content_low fat,Item_Fat_Content_reg,...,ID_NCZ53OUT049,ID_NCZ54OUT010,ID_NCZ54OUT018,ID_NCZ54OUT019,ID_NCZ54OUT027,ID_NCZ54OUT045,ID_NCZ54OUT046,ID_NCZ54OUT049,new_column_pred,Item_Outlet_Sales_pred
0,0,20.750,0.007565,107.8622,1999,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,1
1,1,8.300,0.038428,87.3198,2007,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,1
2,2,14.600,0.099575,241.7538,1998,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,1
3,3,7.315,0.015388,155.0340,2007,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,1
4,4,0.000,0.118599,234.2300,1985,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,1

In [9]:
x_train_data = train_data.drop('Item_Outlet_Sales',axis=1)
x_train_data.fillna(0,inplace=True)

In [10]:
y_train_data = train_data['Item_Outlet_Sales']

In [11]:
lreg = LinearRegression()

In [12]:
lreg.fit(x_train_data,y_train_data)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [13]:
missing_cols = set( x_train_data.columns ) - set( test_data.columns )
for c in missing_cols:
    test_data[c] = 0
test_data = test_data[x_train_data.columns]
test_data.fillna(0,inplace=True)
pred=lreg.predict(test_data)

In [14]:
print (pred)

[1836.12497378 1419.56213331 1887.9395009  ... 1836.28046235 3577.47210883
 1300.27171201]

In [15]:
lreg.score(x_train_data,y_train_data)

1.0

In [ ]:
test = []
for x in pred:
    test.append(x)
test_data['Item_Outlet_Sales']=test
test_data